// 1.Font uses
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


$roboto: 'Roboto', sans-serif;


$gray: #606060;
$black: #222;
$white: #fff;
$sky: #03A5F0;
$bgbody: #f6f6f6;
$border: #ddd;




// Basic color of Fashionbuazz project

